.rarity-Common {
  color: white !important;
  font-size: .7rem !important;
}

.rarity-Uncommon {
  color: green !important;
  font-size: .7rem !important;
}

.rarity-Rare {
  color: cyan !important;
  font-size: .8rem !important;
}

.rarity-Epic {
  color: purple !important;
  font-size: .8rem !important;
}

.rarity-Legendary {
  color: orange !important;
  font-size: .9rem !important;
}

.rarity-Mythic {
  color: yellow !important;
  font-size: .9rem !important;
} 